# Data Science Tools and Ecosystem

In this note book, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numply
3. Matplotlib

|Data Science Tools|
|-|
|Git|
|Rstudio|
|Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
(3*4)+5
# This is a simple arthmetic expression to mutiply then add integer

17

In [6]:
200//60 + (200%60)/60
# This will convert 200 minutes to hours by dividing by 60

3.3333333333333335

## Author
Awesome person